/** body **/
body {
  font-family: 'Lato', arial, sans-serif;
 
  background: #B71427;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** header **/
.header{
  padding: 40px 0;
  background: #f5f5f5;
  padding-left: 15px;
 
}

.header .pingpong_image {
  margin-right: 20px;
}
.pingpong_image{
  float:left;
}
.header .header-content .gamename {
  color: #49515a;
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.header .header-content .work {
  color: #778492;
  font-family: "Lato", arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}
.heading{
  font-family: "Lato", arial, sans-serif;
  margin-top: 0;
  margin-bottom: 15px;

}
h6.heading{
  padding-left: 10px;
}
/** content **/
.sections-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section {
  margin-bottom: 30px;
}
.section .section-inner {
  background: #fff;
  padding: 30px;
}
.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #545e69;
  font-size: 24px;
}
.section .content .more-link .fa {
  margin-right: 5px;
  font-size: 14px;
}